/* Stilovi za kontejner u kojem se nalaze novosti*/
.blog-container{
    background-color:#0A1421;
    /*border:1px solid orange;*/
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:30px;
}

/* Stilovi za jedinstveni post i njegove elemente*/
.blog-post{
    background-color:#1F2833;
    border:1px solid black;
    margin:20px;
    padding:10px;
    color:white;
}

.blog-post h4{
    margin:0;
}

.blog-info{
    display:flex;
    justify-content: space-between;
}