/* Stilovi za kontejner u kojem se nalaze novosti*/
.blog-container{
    background-color:#0A1421;    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   
}
.blog-grid{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));  
   
}
.addBlog-button{
    border: 1px solid white; 
    color:white;
    padding: 10px 20px;
}
.addBlog-button:hover{
    cursor: pointer;
}
/* Stilovi za jedinstveni post i njegove elemente*/
.blog-post{
    background-color:#1F2833;   
    margin:10px 20px;
    padding:10px;
    color:white;    
}

.blog-post h4{
    margin:0;
}

.blog-info{
    display: grid;
    justify-content: space-between;
    grid-gap: 10px;
}

@media screen and (max-width: 600px) {
    .blog-grid{
        display:grid;
        grid-template-columns: 1fr;  
    }
    
}
