/* Layout stilovi za Home stranicu. Jedinstvena su zbog covera. Na maloj rezoluciji nestaje cover. */
/* Na maloj rezoluciji nestaje cover. Takoder se sa smanjenjem rez mijenja grid template. Testiraj pa ces vidit zasto */
.layoutHome{       
    height: 100vh;     
    display: grid;
    grid-template-columns: 1fr  9fr;
    grid-template-rows: 50px 250px auto 30px; 
    grid-template-areas: 
    "header header"
    "home-cover home-cover"
    "navigation main"
    "footer footer";    
}

@media screen and (max-width: 1300px) and (min-width: 600px) {
    .layoutHome  {
        grid-template-columns: 1.5fr 9fr;
    }
}

@media screen and (max-width: 600px) {
    .layoutHome  {
        display: grid;
        grid-template-columns : 9fr;
        grid-template-rows: 1fr 1fr 8fr 0.5fr;
        grid-template-areas: 
        "header"
        "navigation"
        "main"
        "footer";
    }
} 

/* Stilovi home covera na Home stranici*/
.home-cover{

    grid-area: home-cover;
    display: inherit;
}

@media screen and (max-width: 600px) {
.home-cover{
    display: none;
    }
}

/* Ostala  svojstva za elemente na Home stranici */
/* Offers komponnenta mijenja stilove zbog lakseg displaya */
.home-grid{
    background-color:#0A1421;
    /*border: 2px solid springgreen;*/    
    display:flex;
    flex-direction: column;     
}

.offers{
    height:100%;   
    padding:20px; 
    display: flex;
    justify-content: space-evenly;
    grid-area: offers; 
    align-items: center;
}

@media screen and (max-width: 600px) {
    .offers  {
        display: grid;
    }
} 

@media screen and (max-width: 750px) {
    .offers{
        font-size: 13px;
    }
    
}

@media screen and (max-width: 400px) {
    .offers{
        font-size: 11px;
    }
    
}

/* Ovo su stilovi za card elemente na offerima na home pageu. */
/* Prvi je standardni a ostali su tu zbog responzivnosti poredani po redu. */
.offers .card{
    background-color:#1F2833;
    color: white;
    
}

.offers h1{
    margin:0;
}

@media screen and (max-width: 1100px) and (min-width: 600px) {
    .offers .card  {
        width:25vw;
    }
} 

@media screen and (max-width: 600px) {
    .offers .card  { 
        width:30vw;
        margin: 10px;
    }
}