.ModalButton{
    padding: 10px 20px;
    margin: 5px;
}

.modalInfo h1{
    margin:0;
}
.modalInfo button{
    padding: 10px 25px;
    border:1px solid white; 
    color: white;
    cursor: pointer;
}
.modalInfo{
    display:flex;
    flex-direction: column;  
    width:30vw;  
}

@media screen and (max-width: 950px) {
    .modalInfo{
        
        width:50vw;  
    }
}

@media screen and (max-width: 480px) {
    .modalInfo{
        
        width:70vw;  
    }
}

.modalInfo .Buttons{
    align-self: flex-end;
}