.ModalButton{
    padding: 10px 20px;
    margin: 5px;
}
.yes{
    background-color: lightgreen;
}
.no{
    background-color: tomato;
}
.modalInfo h1{
    margin:0;
}
.modalInfo button{
    padding: 10px 25px;
}
.modalInfo{
    display:flex;
    flex-direction: column;    
}
.modalInfo .Buttons{
    align-self: flex-end;
}